<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>Standings</title>
  <!-- Add your styles here if needed -->
</head>
<body class="flex">

<div th:replace="fragments/componenets::top-bar('Standings')"></div>
<div th:replace="fragments/componenets::side-menu(menuItems=${menuItems})"></div>

<div class="flex-1 p-4 ml-32">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
    <table class="min-w-full bg-white border border-gray-300 shadow-md rounded-md overflow-hidden">
      <thead>
      <tr class="bg-indigo-500 text-white text-left">
        <th class="py-2 px-4">Team</th>
        <th class="py-2 px-4">Points</th>
        <th class="py-2 px-4">Goal Difference</th>
        <!-- Add more columns based on your standings entity structure -->
      </tr>
      </thead>
      <tbody>
      <tr th:each="standing : ${allStandings}" class="even:bg-gray-50 odd:bg-white">
        <td class="py-2 px-4" th:text="${standing.team.teamName}"></td>
        <td class="py-2 px-4" th:text="${standing.points}"></td>
        <td class="py-2 px-4" th:text="${standing.goalDifference}"></td>
        <!-- Add more columns based on your standings entity structure -->
      </tr>
      </tbody>
    </table>
    <!-- Pagination Links -->
    <!-- Your pagination code here -->
  </div>
</div>

</body>
</html>
